// Here you can add other styles
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-header-button {
  width: 160px;
}

.product-image {
  height: 120px;
  width: 160px;
}

.product-action {
  display: flex;
}
